---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<main
  class="flex min-h-screen flex-col items-center justify-center bg-cover bg-center bg-no-repeat"
>
  <div class="flex flex-row items-center justify-center">
    <div>
      <h1 class="text-center text-6xl font-bold">Welcome to Test Astro!</h1>
      <p class="mt-4 text-center text-2xl">
        This is a simple Astro component that serves as a welcome page. You can customize it to fit
        your needs.
      </p>
    </div>
  </div>
</main>

<style></style>
